a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.nav {
  cursor: pointer;
}

.filter-nav .item + .item {
  margin-left: 8px;
}

.filter-nav .nav {
  display: inline-block;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  min-width: 73px;

  background-color: #f5f4fa;
  color: var(--primary-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.filter-nav .nav:hover,
.filter-nav .nav:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Карточки */

.cart-list {
  display: flex;
  flex-wrap: wrap;
}

.cart-list > .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  /* background-color: #ccc; */
}

.cart-list > .item:nth-child(3n) {
  margin-right: 0;
}

.cart-list > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.photo-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .link-cart:hover .portfolio-overlay,
.item .link-cart:focus .portfolio-overlay {
  transform: translateY(0);
}

.style-hover {
  padding-left: 24px;
  padding-top: 63px;

  color: var(--background-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.item .link-cart:hover,
.item .link-cart:focus {
  outline: none;
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cart-list > .item {
  display: block;
  border: 1px solid #eeeeee;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.cart-list .title {
  color: var(--title-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}

.card-image {
  display: block;
  width: 100%;
}

.heading-title {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
