.head {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
  }
  
  /* main-nav */
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  /* Header */
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
  
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
  
  /* Logo */
  
  .head-logo {
    display: block;
    padding-top: 25px;
    padding-bottom: 24px;
  }
  
  .head-logo {
    display: flex;
  }
  
  /* site nav */
  
  .nav-points {
    display: flex;
  }
  
  .site-nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
  }
  
  
  .site-nav .item + .item {
    margin-left: 50px;
  }
  
  .site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: $primary-text-color;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  
    @mixin transit($color);
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    color: $accent-color;
  }
  
  .link {
    position: relative;
  }
  
  .link::after {
    content: '';
  
    position: absolute;
    bottom: 0;
  
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  
    background-color: $accent-color;
  
    opacity: 0;
    @mixin transit($color);
  }
  
  .link.current::after {
    opacity: 1;
  }
  
  .site-nav .link.current {
    color: $accent-color;
  }
  
  .web-link {
    display: flex;
    margin-left: auto;
    padding: 0;
  }
  
  .link-mail {
    display: flex;
    align-items: center;
  
    margin-right: 50px;
  }
  
  .icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  
    fill: currentColor;
  }
  
  .link-tel {
    display: flex;
    align-items: center;
  }
  
  .icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  .web-link .link-mail {
    color: $title-text-color;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  
    @mixin transit($color);
  }
  
  .web-link .link-mail:hover,
  .web-link .link-mail:focus {
    outline: none;
    color: $accent-color;
  }
  
  .web-link .link-tel {
    color: $title-text-color;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  
    @mixin transit($color);
  }
  
  .web-link .link-tel:hover,
  .web-link .link-tel:focus {
    outline: none;
    color: $accent-color;
  }
